<div class="cadastro-container">
  <div class="header">
    <h1>Cadastros</h1>
    <p>Selecione o tipo de cadastro que deseja gerenciar</p>
  </div>

  <div class="cadastro-grid">
    <div
      *ngFor="let option of cadastroOptions"
      class="cadastro-card"
      (click)="navigateTo(option.route)"
      [style.border-left-color]="option.color">
      <div class="card-icon" [style.color]="option.color">
        <i class="material-icons">{{ option.icon }}</i>
      </div>
      <div class="card-content">
        <h2>{{ option.title }}</h2>
        <p>{{ option.description }}</p>
      </div>
      <div class="card-arrow">
        <i class="material-icons">arrow_forward</i>
      </div>
    </div>
  </div>
</div>
